<h1 class="mt-5">Add product</h1>
<hr>
<form>
  <div class="row g-3 align-items-center mb-3">
    <div class="col-auto">
      <label class="col-form-label"> Name </label>
    </div>
    <div class="col-auto">
      <input type="text" name="name" id="name" class="form-control">
    </div>
    <div class="col-auto">
      <span class="form-text"> Este campo es requerido </span>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <button class="btn btn-primary">Save</button>
    </div>
  </div>
</form>

<h3 class="mt-5"> Form </h3>
